.container {
  text-align: center;
  padding: 50px;
  background-color: #f0f8ff;
  font-family: "Arial", sans-serif;
}

h1 {
  font-size: 2.5rem;
  color: #ffd000;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  color: #2980b9;
  margin-bottom: 10px;
}

p {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: bold;
}

h3 {
  text-align: left;
}

.container {
  border-radius: 10px;
  margin: 0 auto;
  background-color: #17570a;
}
